nav {
  position: fixed;
  background-color: rgba(12, 85, 137, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  display: block; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      margin: 0px;
      padding: 0px;
      display: inline-block; }
      nav ul li a {
        text-decoration: none;
        color: #ffffff;
        display: block; }

.fix-nav {
  background-color: #0C557F;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .fix-nav nav ul li a:active {
    color: #ffffff;
    background-color: rgba(22, 160, 239, 0.75); }

body {
  font-family: "Lato", Heveltica, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  z-index: 1; }

#home {
  background-image: url(../images/ValleyForgeDesktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 800px;
  margin: 0;
  padding: 0;
  z-index: 20;
  color: #ffffff; }

#banner {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%); }
  #banner h1, #banner h2 {
    text-align: center; }

#headshot {
  display: block; }

.text {
  color: #ffffff; }
  .text h3 {
    text-align: center; }

@media screen and (max-width: 767px) {
  nav {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #0C557F; }
    nav ul {
      display: block; }
      nav ul li {
        display: block; }
        nav ul li a {
          font-size: 15px;
          padding: 12px 24px 12px 24px; }
          nav ul li a:active {
            color: #ffffff;
            background-color: rgba(22, 160, 239, 0.75); }

  h1 {
    font-size: 2em;
    margin: 0em 0.25em 0.1em 0.25em; }

  h2 {
    font-size: 1.25em;
    margin: 0 0 0.25em 0; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav ul li a {
    font-size: 18px;
    padding: 16px 28px 16px 28px; }
    nav ul li a:active {
      color: #ffffff;
      background-color: rgba(22, 160, 239, 0.75); }

  h1 {
    font-size: 3em;
    margin: 0em 0.33em 0.1em 0,33em; }

  h2 {
    font-size: 1.5em;
    margin: 0 0 0.5em 0; }

  .text {
    margin-top: 60px;
    min-height: 600px; }
    .text h3 {
      font-size: 2em;
      margin-bottom: 10px; }
    .text p {
      font-size: 18px;
      padding: 0px 20px 50px 20px; } }
@media screen and (min-width: 1024px) {
  nav ul li a {
    font-size: 18px;
    padding: 16px 50px 16px 50px; }
    nav ul li a:hover {
      color: #ffffff;
      background-color: rgba(22, 160, 239, 0.75);
      -moz-transition: background-color 0.5s ease;
      -o-transition: background-color 0.5s ease;
      -webkit-transition: background-color 0.5s ease;
      transition: background-color 0.5s ease; }

  h1 {
    font-size: 4em;
    margin: 0em 0.5em 0.1em 0.25em; }

  h2 {
    font-size: 2em;
    margin: 0 0 1em 0; }

  .text {
    margin-top: 60px;
    min-height: 700px; }
    .text h3 {
      font-size: 2em;
      margin-bottom: 10px; }
    .text p {
      font-size: 18px;
      padding: 0px 20px 50px 20px; } }

/*# sourceMappingURL=main.css.map */
