@import "variables";
body {
    font-family: $font-stack;
    font-size: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}
//Basics IDs
#home {
    background-image: url(../images/ValleyForgeDesktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 800px;
    margin: 0;
    padding: 0;
    z-index: 20;
}
