@import "variables";
nav {
  position: fixed;
  background-color: rgba(12, 85, 137, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        a {
          text-decoration: none;
          color: #ffffff;
          display: block;
        }
    }
  }
}
@mixin hover {
    color: #ffffff;
    background-color: rgba(22,160,239,0.75);
}
// fix nav after scroll
.fix-nav {
    background-color: $primarycolor;
    @include transition(all 0.5s ease-in-out);
    nav{
        ul {
            li {
                a {
                    &:active {
                        @include hover;
                    }
                }
            }
        }
    }
}
@mixin nav-sm {
    nav {
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: $primarycolor;
        ul {
            display: block;
            li {
                display: block;
                a {
                    font-size: 15px;
                    padding: 12px 24px 12px 24px;
                    &:active {
                        @include hover;
                    }
                }
            }
        }
    }
}
@mixin nav-md {
    nav {
        ul {
            li{
                a {
                    font-size: 18px;
                    padding: 16px 28px 16px 28px;
                    &:active {
                        @include hover;
                    }
                }
            }
        }
    }
}
@mixin nav-lg {
    nav {
        ul {
            li {
                a {
                    font-size: 18px;
                    padding: 16px 50px 16px 50px ;
                    &:hover {
                        @include hover;
                        @include transition(background-color 0.50s ease);
                    }
                }

            }
        }
    }
}
